# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# images
src/Assets/iNotebook-temp2.png
src/Assets/iNotebook-temp3.png
src/Assets/iNotebook-temp4.png
src/Assets/Newsify-temp2.png
src/Assets/Random pic 2 transparent 2.png
src/Assets/Random pic 2 transparent.png
src/Assets/Random pic 2.jpg
src/Assets/TextUtils-temp2.png
src/Assets/TextUtils-temp3.png
src/Assets/TextUtils-temp4.png
